@CHARSET "ISO-8859-1";

.centrado{
	margin: 0 auto
}












/* 

.factura{
	position: absolute;
	left:32%;
	top:2.5%;
	width:35%;
	background-color: 44ecff;
	border-style: solid;
	border-color: black;
	border-width: medium;
}
 .datos *:not([type="radio"]){
	width:90%;
	margin-left: 5%;
	margin-bottom: 3%;
} 

.conceptos * {
	margin-left: 5%;
	margin-bottom: 3%;
	width: 18%;
	display: inline;
}

.conceptos{
	width: 99%;
}

#aniadirConcepto{
	background-image: url(../res/add.PNG)no-repeat;
}

#eliminarConcepto{
	background-color: red;
}

form{
	margin-top: 2%;
} */