@CHARSET "ISO-8859-1";

@font-face {
	font-family: titleFont;
	src: url(../res/fonts/writesong.ttf);
}

body {
	font-family: 'titleFont', sans-serif;
	font-size: 25px;
	background: linear-gradient(#ffffff, #b0f4f3);
}

h1 {
	font-size: 50px;
}

h2 {
	margin-left: 2%;
	font-size: 40px;
	background-color: #FFFFFF;
	border-color: black;
	border-style: solid;
	width: 95%;
}

img {
	padding: 2px;
	border: 1px solid #021a40;
	background-color: #E5ED21;
}

::-webkit-input-placeholder {
	font-family: 'titleFont', sans-serif;
	font-size: 16px;
}

#tablaTitulo {
	width: 100%;
	-webkit-animation: aparecerTitulo 3.5s 1;
	z-index: -1;
}

@-webkit-keyframes aparecerTitulo { 0%{
	opacity: 0;
	-webkit-transform: rotate(90deg);
}

25%{
opacity
:
0
.2
;

		
	
}
50%{
opacity
:
0
.4
;

		
	
}
75%{
opacity
:
0
.8
;

	
}
100%{
opacity
:
1;

	
}
}
#tablaTitulo h1 {
	background-image: url('../res/titleRibbon.jpg');
	background-repeat: no-repeat;
	background-position: left;
}

td img {
	float: right;
}

#navbar ul {
	background: #efefef;
	position: relative;
	list-style-type: none;
	text-align: right;
	z-index: 1;
}

nav ul li {
	display: inline;
	padding: 25px 15px;
}

nav ul li a {
	font-size: 30px;
	color: inherit;
	text-decoration: none;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
	padding-right: 1.5%;
	padding-left: 1.5%;
	color: inherit;
	transition-property: font-size;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

nav ul li a:hover {
	background-color: #d7d7d7;
	font-size: 32px;
}

.seccion {
	border-color: black;
	border-width: medium;
	border-style: solid;
	width: 98%;
	position: relative;
	margin-top: 2%;
	margin-left: 1%;
	z-index: 1;
}

.separador {
	position: relative;
	background-image: url(../res/separador.PNG);
	background-repeat: no-repeat;
	background-position: left;
	height: 87px;
	width: 40%;
	margin-left: 30%;
	margin-top: 1%;
}

.content {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 15%;
	margin-right: 15%;
}

#presentacion {
	background-color: rgba(128, 238, 255, 0.4);
	-webkit-animation: aparecerSeccion 0.5s 1;
}

/*Animacion definida*/
@-webkit-keyframes aparecerSeccion { 
	
	0%{
	top: 0px;
	left: 1000px;
	opacity: 0.1;
	}

	25%{
	top: 0px;
	left:750px;
	opacity:0.3;
	}
	
	50%{
	top:0px;
	left:500px;
	opacity:0.4;
	}
	
	75%{
	top:0px;		
	left:250px;
	opacity:0.8;
	}
	100%{
	top:0px;
	left:0px;
	opacity:1;
}
}
.columnaPresentacion {
	float: left;
	width: 45%;
	padding-left: 5%;
}

.columnaPresentacion img {
	width: 80%;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

#imagenPresen1:hover {
	-webkit-transform: rotate(20deg);
}

#imagenPresen2:hover {
	-webkit-transform: rotate(-20deg);
}

#asignaturas {
	background-color: rgba(229, 237, 33, 0.4);
}

.content table {
	color: #378DE5;
	font-size: 25px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	margin-left: 12%;
	border: #378DE5 1px solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	border: #378DE5 1px solid;
}

.content table th {
	padding: 21px 25px 22px 25px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#ebebeb));
	background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

.content table tr {
	text-align: center;
	padding-left: 20px;
}

.content table td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}

.content table td {
	padding: 18px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb),
		to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

.content table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
		to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

#tecnologias {
	background-color: rgba(0, 155, 178, 0.4);
}

.nubeEtiquetas {
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1.5em;
	text-align: center;
}

.nubeEtiquetas li {
	display: inline;
}

a.tag1 {
	font-size: 220%;
	font-weight: 100;
}

a.tag2 {
	font-size: 160%;
	font-weight: 200;
}

a.tag3 {
	font-size: 100%;
	font-weight: 300;
}

a.tag4 {
	font-size: 50%;
	font-weight: 400;
}

.nubeEtiquetas li a:hover {
	font-weight: bold;
}

/* 	border-color: red;
	border-width: thick;
	border-style: solid; */
#solicitud {
	background-color: rgba(255, 92, 71, 0.7);
}

.columnaFormulario {
	float: left;
	width: 50%;
}

.columnaFormulario * {
	width: 70%;
	height: 35px;
	display: block;
}

.columnaFormulario img {
	height: 100%;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.columnaFormulario img:hover {
	width: 110%;
}

.clear {
	clear: both;
	line-height: 0;
}

input[type=text], input[type=email], input[type=tel], input[type=date] {
	border: thin solid #ccc;
	border-radius: 5px;
	color: #378DE5;
	border: thin solid #000000;
}

#contenedorFile {
	background-color: white;
	border: thin solid #ccc;
	border-radius: 5px;
	color: #378DE5;
}

input[type=file] {
	width: 100%;
	/* opacity: 0; */
}

input[type=submit] {
	color: #378DE5;
	background-color: #fff;
	border: 1px solid #378DE5;
	border-radius: 5px;
	margin-top: 0px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #378DE5;
	color: #fff;
}

#footer {
	margin-top: 2%;
	margin-left: 1%;
}